#myorders{
    display: flex;
    justify-content: center;
}
.padd{
    padding: 2rem 4rem;
    margin: 1rem;
}
.accordion-body{
    margin-left: 2rem;
}
.removeunderline
{
    text-decoration: none;
    color: black;
}
@media (max-width : 451px) {
    .padd{
        padding: 2rem;
    }
}
.orderedItems{
    background-color: whitesmoke;
    width: 50rem;
}
.delivery-status{
    font-size: 1.6rem;
    padding: 1rem;
}
.delivery-status::before{
    content: '';
    display: block;
    width: 100%;
    height: .5px;
    background-color: var(--box-shadow);

}